@model CurrencyBundle
@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Create Currency Bundle</h2>
<br />

<form method="post" asp-action="Create">
	<div class="border backgroundDark">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group row">
			<div class="col-2">
				<label asp-for="@Model.CashValue" class="col-form-label"></label>
			</div>
			<div class="col-5">
				<input asp-for="@Model.CashValue" class="form-control" />
			</div>
			<span asp-validation-for="@Model.CashValue" class="text-danger"></span>
		</div>
		<div class="form-group row">
			<div class="col-2">
				<label asp-for="@Model.GameCurrencyAmount" class="col-form-label"></label>
			</div>
			<div class="col-5">
				<input asp-for="@Model.GameCurrencyAmount" class="form-control" />
			</div>
			<span asp-validation-for="@Model.GameCurrencyAmount" class="text-danger"></span>
		</div>
		<div class="form-group row">
			<div class="col-2">
				<label asp-for="@Model.BonusCurrency" class="col-form-label"></label>
			</div>
			<div class="col-5">
				<input asp-for="@Model.BonusCurrency" class="form-control" />
			</div>
			<span asp-validation-for="@Model.BonusCurrency" class="text-danger"></span>
		</div>
		<div class="form-group row">
			<div class="col-5 offset-2">
				<partial name="_CreateAndBackToListButton" />
			</div>
		</div>
	</div>
</form>
